:root {
    --ggreyblue: #9eafad; 
    --ddarkgreen: #30351b; 
    --ggreen: #656c4a; 
    --llightgreen: #79855e; 
    --llightergreen: #9FAA88;
    --ddarkbrown: #6e4b2b; 
    --bbrown: #836b40; 
    --ccream: rgba(249,239,232,0.7); 
    --bbackground: var(--llightergreen);
    --fforeground:var(--ccream);
}


body {
    background-color: var(--bbackground); 
    font-family: 'Karla';

}


.section {
    margin: auto;
    background-color: var(--fforeground);
    max-width: 600px; /*change thissssssssssssssssssssssssssssssssssssssssssssss??????????*/
    
    text-align: justify;
    text-justify: inter-word;
    color: var(--ddarkgreen);

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 60%;
        height: auto;
      }
}

.section img {
        max-width: 60%;
        height: auto;
        margin:auto;
      }

.section div {
        contain: layout;
      }

.inner{
    margin: 5%;
    display: block;
    contain: layout;
    
}

.logo img{
    max-width: 100%;
}

h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

h4{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.hidden{
    opacity: 0;
    transition: all 1.5s;
}

.show {
    opacity: 1;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuitem{
    transition-duration: 0.4s;
}

.menuitem:hover{
    /*text-decoration: underline;
    text-decoration-thickness: 3px;*/
    text-shadow: 0 0 0.95px var(--ddarkgreen);
}

.inpagebutton{
    transition-duration: 0.4s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--bbackground);
    margin: 5%;

}

.inpagebutton:hover{
    margin-left: 0%;
    margin-right: 0%;
    text-shadow: 0 0 0.65px var(--ddarkgreen);
}


:root {
    --ggreybluergb: rgb(158,175,173); 
    --ddarkgreenrgb: rgb(48,53,27); 
    --ggreenrgb: rgb(101,108,74); 
    --llightgreenrgb: rgb(121,133,94); 
    --llightergreenrgb: rgb(159,170,136);
    --ddarkbrownrgb: rgb(110,75,43); 
    --bbrownrgb: rgb(131,107,64); 
    --ccreamrgb: rgb(249,239,232); 
    --circle-size: 88%;
    --blendinng: hard-light;
}


.gradient-bg {
    width: 100vw;
    height: 450%; /*change thissssssssssssssssssssssssssssssssssssssssssssss??????????*/ 
    position: absolute; 
    /*overflow: hidden;*/ 
    background: linear-gradient(80deg, var(--llightergreenrgb), var(--ggreenrgb));

    top: 0;
    left: 0;
}


/*GALLERY SECTION*/ 
 
.sectiongal {
    background-color: var(--fforeground);
    margin: auto;
    max-width: 600px; /*change thissssssssssssssssssssssssssssssssssssssssssssss??????????*/
    
    text-align: justify;
    text-justify: inter-word;
    color: var(--ddarkgreen);
}

.sectiongal img{
    max-width: 100%;
}

.images{
    margin: 5%;
    display: block;
    column-count:2;
    padding: 2%;
    img{
        width: 100%;
        max-width: 100%;
    }
}

/*LINKS*/

a {
    color: var(--ddarkgreen);
    text-decoration: none; /* no underline */
  }
